name: Release

on:
  workflow_dispatch:
  release:
    types: [ published, prereleased ]
    
permissions:
  contents: write
  packages: write

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
    - name: GitHub Checkout
      uses: actions/checkout@v3

    - name: Setup PNPM
      uses: pnpm/action-setup@v3
      with:
        version: 8
        
    - name: Setup Aftman
      uses: ok-nick/setup-aftman@v0.3.0
    
    - name: Install Rojo, Lune and DarkLua
      run: aftman install
      
    - name: Build and Compile
      run: |
        pnpm install
        mkdir -p dist
        rojo build -o dist/main.rbxm --verbose
        lune build -o dist/main.lua --verbose
      
    - name: Upload Release Assets
      uses: alexellis/upload-assets@0.4.0
      env:
        ACTIONS_STEP_DEBUG: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        asset_paths: '["dist/main.rbxm", "dist/main.lua"]'
